body{
    font-family: 'Segoe UI', sans-serif;
        font-size: 16px;
        padding: auto;
        background-color: black;
}

h2{
    text-align: center;
    color: white;
}

form{
    border: 1px solid white;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    max-width: 300px;
    margin: auto;
    color: white;
}

label{
    display: block;
    margin-top: 10px;
}

input, select{
    width: 100%;
    padding: 0%;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 1px;
}

button{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 1px;
    border: 1px solid white;
    color: white;
    background-color: black;
    cursor: pointer;
}

